.CustomCalendar {

}

.CenteredContent {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.CustomCalendarStyle {
    padding: 2rem;
    border-radius: 2rem;
    position: relative;
    min-width: 250px;
}