.messageBox {
    margin-top: 1rem;
    font-size: 1.2rem;
    border-radius: var(--huge-border-radius);
    padding: 10px;
    max-width: 60%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.myMessage {
    margin-left: auto;
    background-color: var(--light-gray);
    border: var(--border-color) var(--small-border-radius) solid;
}

.notMyMessage {
    margin-right: auto;
    background-color: var(--light-gray);
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
}

.messageBoxHeader {
    display: flex;
}

.messageText {
    padding: 5px;
}

.authorName {
    color: var(--default-font-color);
    margin: auto 0;
    font-size: 1rem;
}

.time {
    text-align: right;
    font-size: 0.8rem;
}
