.Chat {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.Chat__messages {
    margin-bottom: 5rem;
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    word-break: break-word;
}

.Chat__input {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    position: fixed; /* Используйте позиционирование "fixed" для фиксации в нижней части экрана */
    bottom: 0;
    left: 0; /* Выравнивание по левому краю */
    width: 100%; /* Растянуть на всю ширину экрана */
    z-index: 1;
}


.Chat__input textarea {
    flex: 1;
    margin-right: 10px;
    padding: 8px;
    resize: vertical;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 100px; /* Опционально: задайте максимальную высоту для textarea */
    overflow-y: auto; /* Добавьте вертикальную прокрутку при достижении максимальной высоты */
}

.Chat__input Button {
    padding: 15px 20px; /* Увеличьте отступы для лучшего внешнего вида */
    color: #fff;
    background: #d2ce9f;
    border: 0.1rem solid #9d9b7f;
    border-radius: 5px;
    cursor: pointer;
}


.Chat__message {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.Chat__myMessage {
    border-radius: 15px;
    padding: 10px;
    max-width: 240px;
    align-self: flex-end;
    background-color: #B5B285;
    color: #fff;
    margin-left: auto; /* Выравниваем сообщения справа */
}

.Chat__otherMessage {
    border-radius: 15px;
    padding: 10px;
    max-width: 240px;
    align-self: flex-start;
    background-color: #f0f0f0;
    margin-right: auto; /* Выравниваем сообщения слева */
}

.Chat__otherMessage .author {
    font-weight: bold;
    margin-bottom: 0.3rem;
}

.time {
    margin-left: 11rem;
    font-size: 0.8rem; /* Размер шрифта времени сообщения */
    color: #666; /* Цвет текста времени сообщения */
    /*margin-top: 0.3rem; !* Отступ над временем сообщения *!*/
}

.Chat__input Button:hover {
    background-color: #B5B285; /* Изменяем цвет фона при наведении */
}

@keyframes scroll {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}
