.loginForm {
    max-width: 300px;
    margin: 10rem auto;
}

.loginForm label {
    left: 0;
}

.loginForm input[type="text"],
.loginForm input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: var(--small-border-size) solid var(--border-color);
    border-radius: var(--large-border-radius);
}

.loginForm input[type="text"]:focus,
.loginForm input[type="password"]:focus {
    outline: none;
    border-color: var(--light-beige);
}

.loginForm button {
    font-weight: bolder;
    background-color: var(--light-beige);
    border: var(--border-color) var(--small-border-size) solid;
    border-radius: var(--large-border-radius);
    display: flex;
    width: 5rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    margin: auto;
}