.inputContainer {
    overflow: hidden;
    background: var(--default-background-color);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-top: var(--border-color) var(--small-border-radius) solid;
}

.inputMessage {
    max-height: 10rem;
    font-size: 1.4rem;
    padding: 0.5rem;
    border-radius: 1rem;
    border: none;
    flex: 1;
    resize: none;
    overflow: hidden;
}

.sentButton {
    background: none;
    border: none;
    padding: 0.5rem;
    margin: 0.5rem;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.sentButton svg {
    font-size: 2.5rem;
}
