.BottomNavbar {
    background-color: #000000;
    position: fixed;
    width: 90%; /* Уменьшаем ширину на 10% */
    height: 6rem;
    padding: 1.5rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    left: 50%; /* Позиционируем по центру */
    transform: translateX(-50%); /* Сдвигаем на половину ширины назад */
    margin: auto; /* Центрируем по вертикали */
}

.navButton {
    border: 1px solid #ccc;
    background-color: #000000;
    right: 50%; /* Позиционируем по центру */
    transform: translateX(-30%);
    width: 4rem;
    height: 4rem;
    border-radius: 30%; /* Сделаем кнопки круглыми */
    margin: 0 0.5rem; /* Добавим небольшой отступ между кнопками */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Добавим тень */
    font-size: 1.5rem;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}
