.Notes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.OrdersContainer {
    display: flex;
    justify-content: center;
}

.ButtonContainer {
    margin-top: 5.5rem;
}

.ShowButton {
    background: #bcba91;
}

.Drawer {
    border-radius: 0 0 2rem 2rem;
    height: 10rem;
    overflow-y: auto;
}