.StopListElement {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
}

.StopListElement:hover {
    background-color: #f0f0f0;
}

.StopListElement textarea {
    width: calc(100% - 70px);
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.StopListElement button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    padding: 8px 12px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.StopListElement button:hover {
    background-color: #0056b3;
}
