.App {
    text-align: center;
}

.avatarContainer {
    left: 1rem;
    top: 1rem;
    position: absolute;
}

.greetingsHeader {
    text-align: left;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
    text-decoration: underline;
}

.mainMenuButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuButton {
    width: 80%;
    height: 3rem;
    border: var(--small-border-radius) var(--border-color) solid;
    border-radius: var(--large-border-radius);
    background: var(--default-background-color);
    color: var(--default-font-color);
    margin: 0.5rem 0;
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
    line-height: 3rem;
}

.content {
    margin: 5rem auto 7rem auto;
    width: 90%;
}

.smallAvatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
}

