.App {
    text-align: center;
}

.Middle-buttons {
    display: inline-grid;
}

.Middle-buttons button {
    margin-bottom: 1rem;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
