@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SF+Pro+Text:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

body {
    margin: 0;
    line-height: normal;
}

:root {
    /* fonts */
    --font-roboto: Roboto;
    --font-sf-pro-text: "SF Pro Text";
    --font-open-sans: "Open Sans";
    --primary-color: #B5B285;

    /* font sizes */
    --font-size-base: 1rem;
    --font-size-sm: 0.88rem;

    /* Colors */
    --color-black: #000;
    --gray-900: #121212;
    --gray-200: #e8e8e8;
    --others-white: #fff;

    /* Border radiuses */
    --br-11xs-3: 1.3px;
    --br-10xs-7: 2.7px;
    --br-13xl: 32px;
}
