:root {
    /*
        Custom application constant colors
    */
    --light-gray: #f1f1f5;
    --medium-gray: #d0d0d4;

    --light-beige: #e8e8d6;
    --medium-beige: #818181;

    --border-color: #1890ff;
    --error-color: #f60e0e;

    --default-background-color: #acacac;
    --default-font-color: black;

    /*
        Custom application font settings & properties
    */
    font-weight: bold;
    font-size: 1rem;
    color: var(--default-font-color);

    /*
        Custom application border settings
    */
    --small-border-radius: 0.15rem;
    --medium-border-radius: 0.6rem;
    --large-border-radius: 0.9rem;
    --huge-border-radius: 1.3rem;

    --small-border-size: 0.1rem;
    --medium-border-size: 0.4rem;
}

.centeredContent {
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

.borderedContent {
    border-radius: 0.3rem;
    border: 0.1rem solid var(--border-color);
}

.pageHeader {
    font-size: 1.5rem;
    text-align: center;
    text-decoration: underline;
}

.error {
    text-align: center;
    color: var(--error-color);
    margin: 0.5rem auto 1rem auto;
}

.animatedButton:hover {
    transform: scale(1.05);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
