.StopListElements {
    margin-top: 6rem;
    overflow-y: auto;
}
.Container {
    position: fixed;
    z-index: 10;
    top:4.15rem;
    left: 0;
    width: 100%;
    min-height: 5%;
    transition: height 0.3s ease;
}

.StopListElements {
    width: 100%;
    max-width: 600px;
    margin-top: 6rem;
}

.ShowList {

}

.HideList {
    height: 5%;
    position: fixed;
}

.ShowModal {
    display: block;
    height: auto; /* Устанавливаем высоту в auto, чтобы показать плашку */
}

.HideModal {
    display: none;
}

.Modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.Bar {
    margin-left: 50%;
    margin-right: 50%;
    bottom: 2%;
}

.HideModal {
    display: block;
    height: 0; /* Устанавливаем высоту в 0, чтобы скрыть плашку */
    overflow: hidden; /* Скрытие содержимого, которое выходит за пределы блока */
}
