.StopListElements {
    margin: 0;
    padding-top: 2rem;
    overflow-y: auto;
    background-color: #ffffff;
}

textarea {
    border: none;
    width: calc(100% - 20px);
    min-height: 100px;
    resize: vertical;
    overflow-y: auto;
}
