.Users {
    text-align: center;
}

.userName {
    margin-bottom: 1rem;
    color: #ffffff;
    background-color: #000000;
    padding-top: 0.5rem;
    border-radius: 10px;
    border: 1px solid #cccccc;
}

.userList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.userCard {
    color: #000000;
    border: 1px solid #cccccc;
    border-radius: 12px;
    margin-top: 1rem;
    padding-top: 0.5rem;
    width: 90%;
    text-align: center;
    background-color: #787878;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.userCard:hover {
    background-color: rgba(0, 0, 0, 0.76);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.modal {
    margin-top: 5rem;
    background-color: #d2d2d2;
    border-radius: 12px;
    padding: 20px;
    width: 90%;
    height: 40%;
}

.userDetails button {
    margin-top: 10px;
    background-color: #555555;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.userDetails button:hover {
    background-color: #555555;
}

.userDetails {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 20px;
    background-color: #787878;
    border-radius: 10px;
    border: 1px solid #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 60vh;
    overflow-y: auto;
}

.userDetails h3 {
    margin-left: 2rem;
    color: #000000;
}


.userDetails .closeButton:hover {
    background-color: #000000;
}
