.Users {
    text-align: center;
}

.userName {
    margin-bottom: 1rem;
    color: #ffffff;
    background-color: #000000;
    padding-top: 0.5rem;
    border-radius: 10px;
    border: 1px solid #cccccc;
}

.userList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.userCard {
    color: #000000;
    border: 1px solid #cccccc;
    border-radius: 12px;
    margin-top: 1rem;
    padding-top: 0.5rem;
    width: 90%;
    text-align: center;
    background-color: #787878;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.userDetails {
    padding: 8px;
    background-color: #787878;
    border-radius: 0.7rem;
    border: 1px solid #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 95%;
    overflow-y: auto;
    max-width: 100%;
    margin: 0 auto;
}

.userDetailsHeader {
    display: flex;
    align-items: center;
    border: white 0.1rem solid;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background: #6c6161;
}

.userDetailsHeader h3 {
    margin-left: 20px;
    color: #000000;
}

.aboutUser {
    margin-top: 10px;
    color: #ffffff;
}

.modal {
    margin-top: 5rem;
    background-color: #d2d2d2;
    border-radius: 12px;
    padding: 20px;
    width: 90%;
    height: auto;
    max-height: 80vh;
    overflow-y: auto;
}
