.newsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsCard {
    width: 500px;
    flex-grow: 1;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.newsImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: white;
}

.newsDescription {
    padding: 10px;
    font-size: 16px;
}

.newsAuthor {
    padding: 10px;
    font-size: 14px;
}

.addNewsButton {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #3897f0;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal form {
    display: flex;
    flex-direction: column;
}

.modal label {
    margin-bottom: 5px;
}

.modalButton {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #3897f0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modalButton:hover {
    background-color: #3276b1;
}
