.authorInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    color: #000000;
    width: 100%;
    background-color: #d2d2d2;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3);
}

.newsItem {
    margin-top: 3rem;
    border: 1px solid #d2d2d2;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.newsContainer {
    margin-top: 1rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newsImage {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.newsContent {
    background-color: #d2d2d2;
    padding: 20px;
    border-radius: 0 0 9px 9px;
}

.newsAuthor {
    font-weight: bold;
    margin-bottom: 5px;
}

.authorDescription {
    color: #666;
    margin-bottom: 15px;
}

.newsDescription {
    padding: 0.2rem;
    border-radius: 10px;
    border: 1px solid #f0f0f0;
    margin-bottom: 15px;
}

.addCommentButton,
.showCommentsButton,
.submitCommentButton {
    background-color: transparent;
    color: #787878;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(240, 240, 240);
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 0.3rem;
    display: flex;
    align-items: center;
}

.addCommentButton:hover,
.showCommentsButton:hover,
.submitCommentButton:hover {
    text-decoration: underline;
}

.addCommentButton:focus,
.showCommentsButton:focus,
.submitCommentButton:focus {
    outline: none;
}

.textarea {
    width: calc(100% - 40px);
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal h2 {
    margin-bottom: 10px;
}

.modalButton {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #ffffff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modalButton:hover {
    background-color: #ffffff;
}

.addNewsButton {
    width: 60%;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000000;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgb(210, 210, 210);
}

.addNewsButton:hover {
    background-color: #ffffff;
}

.textarea {
    outline: none;
}

.backButton {
    width: 50%;
    margin: 10px;
    padding: 8px 16px;
    background-color: #d2d2d2;
    color: #000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgb(210, 210, 210);
}

.backButton:hover {
    background-color: #999;
}

.latestComment {
    outline: none;
    margin-top: 20px;
    padding: 0.2rem;
    background-color: #f0f0f0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.latestComment p {
    margin: 5px 0;
}

.comment {
    margin-top: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}
